<div class="topbar">
    <button type="button" id="sidebar-toggler" class="topbar-item" aria-label="Toggle navigation">
        <i class="fa-solid fa-burger"></i>
    </button>
    <button type="button" class="topbar-end">
        <i class="fa-solid fa-user"></i>
    </button>
</div>